
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Service Ekle</h2>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Servis Adı" aria-describedby="basic-addon1">
    <br />
    <br />
    <input type="text" class="form-control" placeholder="RemoteEndPointINT" aria-describedby="basic-addon1">
    <br />
    <br />
    <input type="text" class="form-control" placeholder="RemoteEndPointUAT" aria-describedby="basic-addon1">
    <br />
    <br />
    <input type="text" class="form-control" placeholder="RemoteEndPointPROD" aria-describedby="basic-addon1">
    <br />
    <br />
    <input type="text" class="form-control" placeholder="GatewayEndPointINT" aria-describedby="basic-addon1">
    <br />
    <br />
    <input type="text" class="form-control" placeholder="GatewayEndPointUAT" aria-describedby="basic-addon1">
    <br />
    <br />
    <input type="text" class="form-control" placeholder="GatewayEndPointPROD" aria-describedby="basic-addon1">
    <br />
    <br />    
    <button type="button" class="btn btn-success">Ekle</button>
</div>